/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    padding: 3rem 0;

    .go-home {
        @include media-breakpoint-up(lg) {
            position: relative;
            top: -12rem;
            margin-bottom: -6rem;
        }
    }
}