/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    position: relative;

    .error-content {
        position: absolute;
        top: -8rem;
        right: 0;
        left: 0;
        height: 100%;

        a {
            text-decoration: none;
            font-size: 1rem;
            padding: 1.5rem 3rem;
        }
    }

    @include media-breakpoint-down(lg) {
        .error-banner {
            img {
                height: 45rem
            }
        }

        .error-content {
            top: -4rem;
        }
    }

    @include media-breakpoint-down(sm) {
        .error-banner {
            img {
                height: 25rem
            }
        }

        .error-content {
            top: -3rem;

            a {
                font-size: 0.75rem;
                padding: 1rem;
            }
        }
    }
}