
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: 1.875rem;

	&:hover {
		.entry-title {
			color: $success;
		}

		.entry-content {
			opacity: 1;
			transition: 0.5s;
		}
	}
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
	}

	a {
		display: block;
	}
}

.post-content {
	.entry-title {
		font-size: 1.5rem;
		font-weight: 500;
		color: #2d2d2d;
	}

	.entry-categories {
		a {
			font-size: 0.75rem;
			text-decoration:none;
			color: #b1b4b6;
		}
	}

	.entry-content {
		color: #2d2d2d;
		line-height: 1.5;
		font-weight: 500;
		opacity: 0;
	}

	.entry-link {
		padding: 1rem 3rem;

		a {
			text-decoration: none;
			font-size: 1.75rem;
		}
	}
}
