/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
.contact {
	.contact-icons {
		li {
			list-style: none;
			margin-bottom: 0.3rem;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;

			a {
				font-family: $body-font;
				font-size: 2.125rem;
				line-height: 2rem;
				text-decoration: none;
				
				&:hover {
					color: $primary;
				}

                i {
					color: $success;
					margin-right: 1.5rem;
                }
			}
		}
	}  

	input,textarea {
		border-color: #d6d7d8;
	}

	label {
		color: #ffffff;
		font-size: 0.875rem;
		font-family: $heading-font;
		margin-bottom: 0.8rem;
	}

	button {
		font-size: 0.75rem;
		padding: 1.2rem;
		font-family: $heading-font;
	}
	
	p {
		font-family: $body-font;
		font-size: 1rem;
		color: #626262;
		line-height: 1;
	}
}