
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/

.about-more {
	position: absolute;
    left: 13rem;
    bottom: -5rem;
    padding: 1rem;
    background-color: #fff;

	@include media-breakpoint-down(lg) {
		position: relative;
		left: 0;
		bottom: 0;
		padding: 1.5rem;
	}
}

.about-detail {
	position: relative;
	padding-left: 3.75rem;
	padding-right: 3.75rem;

	h3, h5 {
		line-height: 1;
		font-weight: 200;
	}

	&:not(:last-child) {
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;			
			display: block;
			width: 1px;
			height: 5rem;
			background-color: rgba($white, 0.5);
			
			@include translateY(-50%);

			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
}

.authour {
	.authour-details {
		.author-content {
			font-size: 1.25rem;
			line-height: 1.5;
		}

		.author-name {
			color: $theme-color;
			line-height: 1;
		}

		.author-info {
			font-size: 0.75rem;
			color: #9f9f9f;
			line-height: 1;
		}
	}
}

.collapse-item {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
