
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #232323;
	padding-top: 3.75rem;
	padding-bottom: 6rem;
}

#footer-main {
	padding-top: 3.375rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #333333;
}

#footer-bottom {
	padding-top: 2.5rem;	
}

.copyrights {
	font-size: 0.875rem;
	color: #808080;
	line-height: 2;
	z-index: 1;	
}