
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
.contact {
	label {
		color: #ffffff;
		font-size: 0.875rem;
		font-family: $heading-font;
		margin-bottom: 0.8rem;
	}
}