
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #content {
			top: -$header-height;
			margin-bottom: -$header-height;
		}
	}
}

.navbar {
	@include media-breakpoint-down(xl) {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

.nav-link {
	&:hover {
		color: $theme-color;
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
.navbar-brand {
	margin-right: 1.875rem;
	margin-top: -0.5rem;

	img {
		max-width: 5rem;
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {	
	.nav-link {
		font-family: $heading-font;
		font-size: 0.75rem;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		padding: 1rem 0;

		@include media-breakpoint-up(xl) {
			padding: 1.875rem 2.5rem;
		}
		
		&:hover {
			background-color: $theme-color;
			color: $white;
		}
	}	
}


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {
	.nav-link {
		font-size: 1rem;	
		line-height: 1;
		padding: 1.25rem;
	}
}