
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-weight: 600;
		line-height: 1.2;
	}
}

#page-top {
	.breadcrumb {
		li {
			a {
				font-size: 0.875rem;
				color: #7f7f7f;
				font-family: $body-font;
				font-weight: 500;
				letter-spacing: 0.05rem;

				&.active {
					color: $success;
				}
			}

			i {
				font-size: 0.5rem;
			}
		}
	}
}