
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Project
-----------------------------------------------------------------*/
.project {
	margin-bottom: 1.875rem;

	.project-image {
		position: relative;

		img {
			width: 100%;
		}

		> a:nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			@include transition(all 0.3s ease-in-out);
		}
	}

	.project-details {
		position: absolute;
		top: 2rem;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		
		@include media-breakpoint-down(lg) {
			position: relative;
			top: 0;
		}
	}

	.project-title, .project-number {
		font-size: 2.8rem;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 1.3;
	}

	.project-number {
		margin-bottom: 5rem;
	}

	.project-btns {
		a {
			font-size: 1.5rem;
			padding: 1rem 1.5rem;
			background-color: $white;
			color: $success;

			&:nth-child(1) {
				margin-right: -0.3rem;
			}
		}
	}
}

/* Testimonial
-----------------------------------------------------------------*/
.testimonial {
	.testimonial-details {
		margin-top: 1rem;
		margin-bottom: 1rem;
		
		.testimonial-title {
			font-size: 2.8rem;
			font-weight: 300;
			color: $secondary;
		}

		.testimonial-info {
			font-size: 1.125rem;
			color: #969696;
		}
	}
}

/* Ads
-----------------------------------------------------------------*/
.ads {
	position: relative;
	display: block;

	.ads-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ads-bg-img {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.ads-body {
		position: relative;
		z-index: 1;
	}

	&.ads1 {
		.ads-body {
			padding: 6rem 4rem;

			p {
				font-size: 1.125rem;
				line-height: 1.2rem;
				color: #756f6e;
			}
		}
	}
}