
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/
.fbox {
	padding: 2rem;

	i {
		font-size: 1.5rem;
		color: $theme-color;
		margin-right:1rem;
	}

	.fbox-header{
		p {	
			font-size: 0.875rem;
			color: #606060;
			line-height: 1.2rem;
		}
	}
}