
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	margin-bottom: 1.5rem;

	.icon-wrapper {
		i {
			font-size: 1.5rem;
			color: $success;
		}
	}

	span {
		color: #c5c2c1;
		font-size: 1.125rem;
	}

	.icon-header {
		h4 {
			font-size-adjust: $body-font;
			font-size: 2.125rem;
			line-height: 2rem;
			font-weight: 400;
			color: $theme-color;
		}

		P {
			color: #626262;
			line-height: 1;
		}
	}
}